PORT=3888

PORT=4000
DB_URI = mysql://root:Prada@localhost:3306/RobinCode.db

# This was inserted by prisma init:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#mysql -hcontainers-us-west-184.railway.app -uroot -pTpOM3Xy0kZb29Ky5Ri4i --port 5526 --protocol=TCP railway
#mysql -hcontainers-us-west-58.railway.app -uroot -pzh6xHr9CQGro8vMGjtLS --port 7979 --protocol=TCP railway
#mysql -hcontainers-us-west-58.railway.app -uroot -pzh6xHr9CQGro8vMGjtLS --port 7979 --protocol=TCP railway


# DATABASE_URL="mysql://root:zh6xHr9CQGro8vMGjtLS@containers-us-west-58.railway.app:7979/railway"
#DATABASE_URL="mysql://root:Prada@localhost:3306/RobinCodePrisma2.db"

# update database url
# DATABASE_URL="mysql://root:ykkhmrdn152833@localhost:3306/RobinCode"

DATABASE_URL="mysql://root:ykkhmrdn152833@localhost:3306/robincode"